<% profile_user = User.find(params[:id]) %>

<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag ("snoopy.jpg") %>
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">

          <%= profile_user.name %>

          <% if current_user != nil and current_user.id == profile_user.id %>
            <a class="edit-profile" href="<%= edit_user_path(profile_user) %>">
                <button>Edit Profile</button>
            </a>
          <% end %>

        </h2>
        
      </div>
      <ul class="posts">
        <li><span>

          <%= Post.Corresponding_Posts(profile_user).count %>

        </span> posts</li>
        <li><span>
          <%= profile_user.followers.split(',').length %>
        </span> followers</li>
        <li><span>
          <%=profile_user.follows.split(',').length %>
        </span> following</li>
      </ul>
      <h2 class="name">
        <%= profile_user.name %>
      </h2>
      <a class="website">
        <%= profile_user.website %>
      </a>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
</div>

<div class="user-images">
  <% 
    if current_user == nil
      looker_id = -1  
    else 
      looker_id = current_user.id 
    end 
  %>
  
  <% filtered_posts = Post.visibility_filter( Post.Corresponding_Posts(profile_user), looker_id ) %>
  <% filtered_posts.each do |post| %>
  <div class="wrapper">
      
    <% if post.image.attached? %>
      <%= link_to(image_tag(url_for(post.image), :size => "200x300"), post_path(post.id)) %>
        
      <% end %>
  </div>
  <% end %>

</div>
