<%= form_for Post.new do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
     <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
    <div class="form-group">
    <%= f.text_field :user_id, value: current_user.id, style: 'display:none'%>
  </div>
  <div class="form-group">
    <%= f.label :visibility %>
    <%= f.text_field :visibility %>
  </div>
    <div class="form-group">
    <%= f.label :who_can_see %>
    <%= f.text_field :who_can_see %>
  </div>
  <br>

  <p>Choice Create</p>

  <% session[:image_count] = 0 %>

  <%= fields_for :choices do |builder| %>
        <%= render 'choice_fields', f:builder %>
  <% end %>
  

  <div class ="links">   
  <%= link_to_add_association "Add Choices", f, :choices, class: 'btn btn-default btn-lg'%>
  </div>


  <div class="text-center">
    <%= f.submit 'Create Vote', class: 'btn btn-primary' %>
  </div>
<% end %>




