<tbody>
    <% creater_of_the_post = User.find(@post.user_id) %>
    <a class="user_of_this_profile" href="<%= user_path(creater_of_the_post) %>">
        Created by <%= creater_of_the_post.name %>
    </a>

    <div class="caption" style="text-align:center;">
        <% if current_user != nil and current_user.id != creater_of_the_post.id %>

            <%= button_to follow_user_path([current_user, creater_of_the_post]), 
            method: :put, 
            class: 'btn btn-primary' do %>
                follow
            <% end %>


            <%= button_to unfollow_user_path([current_user, creater_of_the_post]), 
            method: :put, 
            class: 'btn btn-primary' do %>
                unfollow
            <% end %>

        <% end %>
    </div>




        <% if current_user == nil %>
        <%flash[:notice] = "You have not logged in yet. Please log in your account to vote."%> 

        <% Post.Corresponding_Choices(@post).each do |choice| %>

        <div class="col-sm-6 col-md-4">
            <h3 style="text-align:center;"><%= choice.description %></h3>
            <% if choice.images.attached? %>
               <%= image_tag(choice.images, :size => "300x400") %>
            <% end %>
      
        <% end %>

    <% elsif @post.user_id != current_user.id %>

        <% Post.Corresponding_Choices(@post).each do |choice| %>

        <div class="col-sm-6 col-md-4">
            <h3 style="text-align:center;"><%= choice.description %></h3>
            <% if choice.images.attached? %>
               <%= image_tag(choice.images, :size => "300x400") %>
            <% end %>
            <div class="caption" style="text-align:center;">
                    <%= button_to like_choice_path(choice), method: :put, remote: true , class: 'btn btn-primary' do %>
                Vote
                    <spam class="badge"><%= choice.get_upvotes.size%></spam>
                <% end %>
            </div>      
        <% end %>

    <% elsif current_user != nil and @post.user_id == current_user.id %>

        <% Post.Corresponding_Choices(@post).each do |choice| %>            
            <div class="col-sm-6 col-md-4">
            <h3 style="text-align:center;"><%= choice.description %></h3>
            <% if choice.images.attached? %>
               <%= image_tag(choice.images, :size => "300x400") %>
            <% end %>
            <div class="caption" style="text-align:center;">
                    <%= button_to like_choice_path(choice), method: :put, remote: true , class: 'btn btn-primary' do %>
                Vote
                    <spam class="badge"><%= choice.get_upvotes.size%></spam>
                <% end %>
            </div>      
        <% end %>
                
        <div class="caption" style="text-align:center;">
                    <%= button_to post_path(@post.id), method: :delete, remote: true , class: 'btn btn-primary' do %>
                Delete the Vote
                <% end %>
        </div>

    <% elsif current_user == nil%>     
       flash[:notice] = "ERROR! Please go back to the home page"

    <% end %>


