<div class="post-show row">
  <div class="col-md-8">
    
      <td>
          <%= image_tag ("bird.jpg")%>
          <input type="radio" name="option" checked="checked"/>To Kill a Mockingbird
	  </td>
      <td>
          <%= image_tag ("harry.jpg")%>
          <input type="radio" name="option" checked="checked"/>Harry Potter
	  </td>
      <td>
          <%= image_tag ("moby.jpg")%>
          <input type="radio" name="option" checked="checked"/>Moby Dick
	  </td>
      <tr>
		<td><p>
			<input type="submit" value="Vote"/>		
		</td>
	  </tr>
      
      
      
      
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <div class="avatar">
      <%= image_tag ("snoopy.jpg") %>
        </div>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
    </div>
    <div class="description">
      <%= @post.description %>
        
    </div>
  </div>
</div>




<div class="delete">
  <% if current_user.posts.exists?(@post.id) %>
    <%= link_to 'Remove', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-primary' %>
  <% end %>
</div>